.container-margin {
    padding: 0;
}

.new-nominee-link {
    padding: 0 0 0 5px;
}

.section-margin {
    margin-top: 100px;
}

.table-margin {
    margin-left: 32px;
    margin-right: 32px;
}

.panel-layout {
    display: flex;
}

.hide {
    display: none;
    margin-top: 5px;
}

.searchbar-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.link {
    display: flex;
}

.link:hover {
    text-decoration: none;
}

.tabletop-margin {
    margin-top: 30px;
    margin-bottom: 10px;
}

.mobile-view {
    display: none;
}

.filter-margin {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.filter-wrapper {
    padding-top: 13px;
    display: flex;
}

.filter-bttn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

input[type=radio] {
    zoom: 1.2;
    margin-right: 10px;
}

.sortbtn {
    margin-left: 0;
}

.filterbtn {
    margin-left: 0;
    padding-left: 0 !important;
}

@media screen and (min-width: 360px) {
    .filter-wrapper {
        padding-top: 20px;
        display: inline-block;
    }
    .sortbtn {
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .hide {
        display: block;
    }
    .tabletop-margin {
        margin-bottom: 0;
    }
    .mobile-view {
        display: block;
    }
    .searchbar-margin {
        margin-bottom: 0;
    }
    .filter-bttn {
        margin-left: 20px;
    }
}