.form-control {
    border-radius: 0;
}
.help {
    vertical-align: middle;
    box-sizing: border-box;
}
.buttonStyle {
    letter-spacing: 1.6px;
    margin-top: 11px;
    width: 100%;
    padding: 3px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#forgotPasswordForm {
    width:220px;
}
#errMsg {
    height: 35px;
}
#buttonText {
	padding: 4.5px;
}




